<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
        <h1>Task Manager</h1>
        <div class="button-container">
            <button onclick="window.location.href='all_tasks'">ALL TASKS</button>
            <button onclick="window.location.href='add_new_tasks'">Add New Task</button>
            <button onclick="window.location.href='edit_tasks'">Edit Tasks</button>
            <button onclick="window.location.href='page4.html'">Page 4</button>
        </div>
    </div>
</body>
</html>
